<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <add key="Tenant"         value="TENANT.onmicrosoft.com" />
        <add key="ClientId"       value="CLIENTID" />   <!-- in new Azure Portal it is called "application id" -->
        <add key="ClientSecret"   value="" />           <!-- leave empty to use user authentication -->
        <add key="SubscriptionId" value="SUBSCRIPTIONID" />
        <add key="RedirectUrl"    value="REDIRECTURL" />

        <add key="CsvFilePath"    value="c:\data\usagedata.csv" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>